/* Stili per schermi di grandi dimensioni */
header {
    width: 100%;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 100px;
    /* background-color: rgba(255, 255, 255, 0.925); */
} 

.navbar-brand {
    font-family: "Roboto Slab", serif;
    display: flex;
    align-items: center;  
    text-align: center;
    font-size: 60px;
    color: black;
}

.logo{
    height: 100px;
}

/* Media query per adattare la navbar su schermi più piccoli */
@media screen and (max-width: 768px) {
    header {
        padding: 0px 20px; /* Riduci il padding sui lati */
    }

    .navbar-brand {
        font-size: 40px; /* Riduci la dimensione del testo del marchio */
    }

    .btn button {
        width: 80px; /* Riduci le dimensioni del pulsante */
        height: 30px;
        font-size: 14px; /* Riduci la dimensione del testo del pulsante */
    }
}
