.project {
  background-color: #02521c;
  position: relative;
  overflow: hidden;
  border-bottom: 5px solid black;
}

.carousel-track {
  display: inline-flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
  justify-content: center;
  /* Posiziona le card all'interno del div project */
  top: 50%;
  /* Posiziona il centro delle card al centro del div project */
  left: 50%;
  /* Posiziona il centro delle card al centro del div project */
  transform: translate(-50%, -50%);
  /* Centra il div rispetto al div project */
  animation: slide 40s linear infinite;
}

.carousel-card {
  flex: 0 0 calc(30% - 20px);
  border-radius: 10px;
  transition: transform 0.5s;
  margin-right: 40px;
  background-color: white;
  width: 320px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 20px;
  padding: 30px;
}

.carousel-card:first-child {
  margin-right: 40px;
}

.carousel-card:last-child {
  margin-right: 0;
}

.carousel-card.flipped {
  transform: rotateY(180deg);
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

/* MOBILE */
@media screen and (max-width: 768px) {
  .carousel-card {
    flex: 0 0 calc(18% - 20px);
  }
}

/* DESKTOP */
@media screen and (min-width: 769px) {
  .carousel-card {
    flex: 0 0 calc(18% - 20px);
  }
}