.services-container {
  max-width: auto;
  padding: 20px;
  background-color: white;
  flex-direction: column;
}

.img_cont {
  border-radius: 50%;
  border: 2px solid black;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
}


.service-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 30px;
}

.service-icon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 1px solid black;
  background-color: white;
  /* Colore di sfondo delle icone */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.service-description {
  font-size: 16px;
  color: #666;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  padding-top: 10px;
}

/* Stili per dispositivi con una larghezza dello schermo fino a 768px (dispositivi mobili) */
@media only screen and (max-width: 768px) {
  .img_cont {
    width: 100%; 
    height: auto; 
  }
}

/* Stili per dispositivi con una larghezza dello schermo superiore a 768px (computer) */
@media only screen and (min-width: 769px) {
  .img_cont {
    max-width: 500px; 
    width: 100%; 
    height: auto; 
  }
}
